@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.bg-light {
  background-color: #091525 !important;
}
.me-2 {
  width: 400px;
}
.ads {
  text-align: center;
  padding: 20px;
}
.carousel.pointer-event {
  touch-action: pan-y;
  width: 800px;
}
.heading h1 {
  font-size: 50px;
  margin-left: 15px;
}
body {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(247, 247, 247);
}
.section1 {
  /* background-color: rgb(252, 242, 227); */
  padding: 10px;
}
.card {
  margin: 10px;
  /* box-shadow: 3px 6px rgba(0, 0, 0, 0.2); */
  max-width: 250px;
}
.card img {
  width: 200px;
  margin: auto;
  padding: 10px;
}
.card-t h3 {
  padding: 16px;
}
.card-t {
  margin-top: 5px;
  box-shadow: 3px 3px rgba(80, 80, 80, 0.1);
  margin-bottom: 30px;
}
.nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(105, 198, 221);
}
.logo h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.logo h3:hover {
  color: rgb(51, 51, 51);
  cursor: pointer;
}
footer {
  background: rgb(32, 32, 32);
  color: #fff;
  padding: 30px;
  width: 100%;
}
footer ul {
  list-style: none;
}
footer ul li {
  padding: 10px;
  font-size: 13px;
}
footer ul li:hover {
  padding: 10px;
  font-size: 13px;
  color: rgb(235, 103, 103);
}
.quick-list h3 {
  font-size: 16px;
}
.btn {
  transition: 0.2s;
}
.btn:hover {
  transform: scale(0.9);
}
